@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;

  }


.sidebar-search{
	padding: 15px;
}

.nav>li>a:hover{
	padding: 20px;
}
.user-wrapper {
	width: 210px;
	height: 200px;
	margin: 10px;	
}

.sidebar .sidebar-nav.navbar-collapse{
	padding-left: 0px;
	padding-right: 0px;
	background-color: #1E7E6D;
	height: 610px;
	color: #fff;
}

#wrapper{
	width: 100%;
}

#page-wrapper{
	margin: 0 0 0 250px;
}

.panel{
	margin-left: 15px;
	padding: 10px; 
	color: #1E7E6D;
}
/*
.panel:hover{
	margin-left: 15px;
	padding: 20px; 
	
}*/

.panel-primary>.panel-heading{
	background-color: #1E7E6D;
}

#side-menu{
	background-color: #1E7E6D;	
}

a{
	color: #fff;
}

.cover{
	margin-top: 20px;
	background-color: #fff;
	background-position: top right;
	height:700px;
	padding-top:20px;
	
}

.test{
	border-right: 1px solid;
	font-weight: 300;
	font-size: 16px;


}


.best{
	font-weight: 300;
	font-size: 16px;
}

.text-center{
	margin-left: 10px;
}

.text-right{
    margin-left: 50px;

    color: #ffffff;
}

#Docs
{
	margin-top: 100px;
	
    display: inline-block;
    width: 40%;
    max-width: 600px;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    text-align: left;
    color: #999;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 2px;
    background-image: fa fa-search fa-3x;
    background-color: hsla(0,0%,100%,.9);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 13px;
    box-sizing: border-box;
}


#meds{
	margin-top: 90px;
	margin-left: 320px; 
    display: inline-block;
    width: 40%;
    max-width: 600px;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    text-align: left;
    color: #999;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 2px;
    background-image: fa fa-search fa-3x;
    background-color: hsla(0,0%,100%,.9);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 13px;
    box-sizing: border-box;
}

#Local{
	margin-top: 100px;
	
    display: inline-block;
    width: 100px;
    max-width: 600px;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    text-align: left;
    color: #999;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 2px;
    background-image: url(/images/find-grey@3x.png);
    background-color: hsla(0,0%,100%,.9);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 13px;
    box-sizing: border-box;
}

#City{

	margin-top: 100px;
	margin-left: 250px; 
    display: inline-block;
    width: 100px;
    max-width: 600px;
    height: 50px;
    line-height: 50px;
    padding: 20px;
    text-align: left;
    color: #999;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-right: 1px solid;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 2px;
    background-image: url(/images/find-grey@3x.png);
    background-color: hsla(0,0%,100%,.9);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 13px;
    box-sizing: border-box;
}

#searchbar
{
	margin-top: 10px;
}
.cover{
	background-color: #1E7E6D;
}

.text-center{
	color:#ffffff;
}
#upload{
	margin-top: 10px;
	width:30%;
	height: 20%;
	margin-left:370px;
}
.text-centre{
	color: #fff;
	margin-left: 520px; 
}

#Doctors{
    margin-left: 15px;
    padding: 20px 20px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    background-color: #1E7E6D;
    color: #fff;
    content: "\f002";

}

#Search_Doctors{
    
  background-color: #1E7E6D;  
  border: none;
}
#Lab{
   
  background-color: #1E7E6D;  
  border: none;
}
#Medicines{
    
  background-color: #1E7E6D;  
  border: none;
}
#Products{
    
  background-color: #1E7E6D;  
  border: none;
}