.modal-content{
	margin-top: 70px;
	width: 1150px;
	height: 700px;

}    

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
      float: initial;
    margin-left: -280px;
}

.tab-content{

	margin-top: 30px;
}

.btn-group-justified {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    padding: 5px;
    margin-top: 30px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
}
.btn{
	background-color:lightseagreen;
}

.btn:active{
	background-color:lightseagreen;
	z-index: 100;
  border-bottom-color: #FFF;

}

label {
    margin-top: 15px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: #555; */
    background-color: #fff;
    background-image: none;
    
    /*  */
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.user-link{
	margin-left: 15px; 
	 border-radius: 50%;
	width:180px;
	margin-top: 15px;
}
