.modal-content{
	margin-top: 60px;
	width: 500px;
	height: 180px;

}    
.user-link{
	margin-left: 15px; 
	 border-radius: 50%;
	width:150px;
	margin-top: 0px;
}
.Time{
	color:skyblue;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: 170px;
}
.modal-content {
    margin-top: 60px;
    width: 600px;
    height: 250px;
}